<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/patients">Listado de Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/patients/new">Añadir Patient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/physios">Listado de Physios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/physios/new">Añadir Physio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/records">Listado de Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/records/new">Añadir Expedientes</a>
      </li>
      <li>
        <form action="/patients/find" method="get">
          <div class=" d-flex mb-0 w-100 px-2">
              <input type="text" class="form-control me-2" name="surname" placeholder="Surname del patient" />
              <button type="submit" class="btn btn-outline-primary border-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></button>
          </div>
      </form>
      </li>
      <li>
        <form action="/physios/find" method="get">
           <div class="d-flex mb-0 w-100 px-2">
              <select  class="form-select" name="specialty" >
                <option value="Sports">Sports</option>
                <option value="Neurological">Neurological</option>
                <option value="Pediatric">Pediatric</option>
                <option value="Geriatric">Geriatric</option>
                <option value="Oncological">Oncological</option>
              </select>
              <button type="submit" class="btn btn-outline-primary border-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/></svg>
              </button>
            </div>
        </form>
      </li>
       <li>
        <form action="/records/find" method="get">
          <div class=" d-flex mb-0 w-100 px-2">
              <input type="text" class="form-control me-2" name="surname" placeholder="Record: Surname del patient" />
              <button type="submit" class="btn btn-outline-primary border-0"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg></button>
          </div>
      </form>
      </li>
      {# <li class="nav-item">
        <a class="nav-link" href="/">Nuevo libro</a>
      </li> #}
      {# <li class="nav-item">
        {% if (session and session.usuario) %}
          <a class="nav-link" href="/auth/logout">Logout</a>
        {% else %}
          <a class="nav-link" href="/auth/login">Login</a>
        {% endif %}
      </li> #}
    </ul>
  </div>
</nav>