<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="/css/estilos.css">
        <script src="socket.io/socket.io.min.js"></script>
        <script src="/js/chat.js"></script>        
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/js/bootstrap.min.js">
    </head>
    <body class="bg-secondary">
        <div class="container">
             <h1 class="text-white text-center">Chat en tiempo real</h1>
            <div id="chat" class="container text-white"></div>
            <form id="formulario" novalidate  style="display:none" class="text-white" onsubmit="enviar(event)">
                <div class="mb-3">
                    <label for="nick" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="nick" required>
                    <div class="invalid-feedback">Por favor, introduce tu nombre de usuario.</div>
                </div>
                 <div class="mb-3">
                    <label for="texto" class="form-label">Mensaje</label>
                    <input type="text" class="form-control" id="texto" required>
                    <div class="invalid-feedback">Por favor, introduce un mensaje</div>

                </div>
                 <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </div>
       
    </body>
</html>